{
	"root": true,
	"env": {
		"node": true
	},
	"extends": [
		"@calmdownval/eslint-config",
		"@calmdownval/eslint-config/import",
		"@calmdownval/eslint-config/typescript",
		"@calmdownval/eslint-config/typescript-import"
	]
}
